@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}



.navbar_icon{
    width: 4rem;
    
}

.body_image{
    transition: transform .2s; 
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.body_image:hover{
    transform: scale(1.05)
}

.body_text{ 
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.card{
    transition: transform .2s; 
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.card:hover{
        transform: scale(1.05)
}
